*.php text eol=lf
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/crc-config.json export-ignore
/phpstan.neon export-ignore
/psalm.xml export-ignore
/spec/ export-ignore
